@inherits OrderDialogBase

<MatDialog @bind-IsOpen="@OrderDialogueModel.IsOpen" CanBeClosed=false>
    <EditForm Model="OrderDialogueModel.ModelDTO" OnValidSubmit="@OnSave">
        <DataAnnotationsValidator />
        <MatDialogTitle>@OrderDialogueModel.ActionType Order</MatDialogTitle>
        <MatDialogContent class="width-500">
            <div class="margin-top-15">
                <p>
                    <MatTextField @bind-Value="@OrderDialogueModel.ModelDTO.State" Label="State" FullWidth=true></MatTextField>
                    <ValidationMessage For="@(() => OrderDialogueModel.ModelDTO.State)" />
                </p>
                <p>
                    <MatTextField @bind-Value="@OrderDialogueModel.ModelDTO.Name" Label="Name" FullWidth=true></MatTextField>
                    <ValidationMessage For="@(() => OrderDialogueModel.ModelDTO.Name)" />
                </p>
            </div>
        </MatDialogContent>
        <MatDialogActions Class="margin-right-15 margin-bottom-15">
            <MatButton Type="submit">Save</MatButton>&nbsp;
            <MatButton OnClick="@OnCancel">Cancel</MatButton>
        </MatDialogActions>
    </EditForm>
</MatDialog>