@inherits SubElementDialogBase

<MatDialog @bind-IsOpen="@SubElementDialogueModel.IsOpen" CanBeClosed=false>
    <EditForm Model="SubElementDialogueModel.ModelDTO" OnValidSubmit="@OnSave">
        <DataAnnotationsValidator />
        <MatDialogTitle>@SubElementDialogueModel.ActionType Sub element</MatDialogTitle>
        <MatDialogContent Class="width-500">
            <div class="margin-top-15">
                <p>
                    <MatNumericUpDownField @bind-Value="@SubElementDialogueModel.ModelDTO.Width" Label="Width" FullWidth=true DecimalPlaces=0 Minimum=1 Maximum=int.MaxValue></MatNumericUpDownField>
                    <ValidationMessage For="@(() => SubElementDialogueModel.ModelDTO.Width)" />
                </p>
                <p>
                    <MatNumericUpDownField @bind-Value="@SubElementDialogueModel.ModelDTO.Height" Label="Height" FullWidth=true DecimalPlaces=0 Minimum=1 Maximum=int.MaxValue></MatNumericUpDownField>
                    @if (SubElementDialogueModel.ActionType == FormActionType.Edit)
                    {
                        <i style="color: red">Attention! All window elements will be updated with new height value.</i>
                    }
                    <ValidationMessage For="@(() => SubElementDialogueModel.ModelDTO.Height)" />
                </p>
                <p>
                    <MatSelect @bind-Value="@SubElementDialogueModel.ModelDTO.ElementTypeId" Label="Type" FullWidth=true>
                        @foreach (var elementType in ElementTypes)
                        {
                            <MatOption TValue="Guid" Value="elementType.UId">@elementType.Name</MatOption>
                        }
                    </MatSelect>
                    <ValidationMessage For="@(() => SubElementDialogueModel.ModelDTO.ElementTypeId)" />
                </p>
                <p>
                    <MatNumericUpDownField @bind-Value="@SubElementDialogueModel.ModelDTO.Quantity" Label="Quantity" FullWidth=true DecimalPlaces=0 Minimum=1 Maximum=int.MaxValue></MatNumericUpDownField>
                    <ValidationMessage For="@(() => SubElementDialogueModel.ModelDTO.Quantity)" />
                </p>
            </div>
        </MatDialogContent>
        <MatDialogActions Class="margin-right-15 margin-bottom-15">
            <MatButton Type="submit">Save</MatButton>&nbsp;
            <MatButton OnClick="@OnCancel">Cancel</MatButton>
        </MatDialogActions>
    </EditForm>

</MatDialog>

<style>
    .margin-right-15
    {
        margin-right: 15px !important;
    }
    .margin-left-15
    {
        margin-left: 15px !important;
    } 
    .margin-top-15
    {
        margin-top: 15px !important;
    }
    .margin-bottom-15
    {
        margin-bottom: 15px !important;
    }
</style>