@inherits WindowTableBase

<p>
    <MatTextField @bind-Value="@WindowSearchText" Label="Search" Icon="search"></MatTextField>
</p>

<MatTable Items="@DisplayedWindows" class="mat-elevation-z5" AllowSelection="true" Striped="true" UseSortHeaderRow="true" OnRowDbClick="OnRowDbClickAsync">
    <MatTableHeader>
        <MatSortHeaderRow SortChanged="@SortData">
            <MatSortHeader SortId="name">Name</MatSortHeader>
            <MatSortHeader SortId="quantity-of-windows">Quantity</MatSortHeader>
            <MatSortHeader SortId="total-sub-elements"># Sub Elements</MatSortHeader>
        </MatSortHeaderRow>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Name</td>
        <td>@context.Quantity</td>
        <td>@context.NumberOfSubElements</td>
    </MatTableRow>
</MatTable>
<p></p>
