@inherits WindowDialogBase

<MatDialog @bind-IsOpen="@WindowDialogueModel.IsOpen" CanBeClosed=false>
    <EditForm Model="WindowDialogueModel.ModelDTO" OnValidSubmit="@OnSave">
        <DataAnnotationsValidator />
        <MatDialogTitle>@WindowDialogueModel.ActionType Window</MatDialogTitle>
        <MatDialogContent Class="width-500">
            <div class="margin-top-15">
                <p>
                    <MatTextField @bind-Value="@WindowDialogueModel.ModelDTO.Name" Label="Name" FullWidth=true></MatTextField>
                    <ValidationMessage For="@(() => WindowDialogueModel.ModelDTO.Name)" />
                </p>
                <p>
                    <MatNumericUpDownField @bind-Value="@WindowDialogueModel.ModelDTO.Quantity" Label="Quantity" FullWidth=true DecimalPlaces=0 Minimum =1 Maximum=int.MaxValue></MatNumericUpDownField>
                    <ValidationMessage For="@(() => WindowDialogueModel.ModelDTO.Quantity)" />
                </p>
            </div>
        </MatDialogContent>
        <MatDialogActions Class="margin-right-15 margin-bottom-15">
            <MatButton Type="submit">Save</MatButton>&nbsp;
            <MatButton OnClick="@OnCancel">Cancel</MatButton>
        </MatDialogActions>
    </EditForm>

</MatDialog>

<style>
    .margin-right-15
    {
        margin-right: 15px !important;
    }
    .margin-left-15
    {
        margin-left: 15px !important;
    } 
    .margin-top-15
    {
        margin-top: 15px !important;
    }
    .margin-bottom-15
    {
        margin-bottom: 15px !important;
    }
</style>